html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul,li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}
html {
     position: relative;
     min-height: 100%;
    /*height: 100%;*/
 }
body {
    /*height: 100%;*/
}
.group:after {
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
}
#footer {
    position: absolute;
    bottom: 0;
    width: 980px;
    height: 50px;
    margin: auto;
    background-color: #7db500;
    background: -webkit-linear-gradient(top, #6E9F05, #2C4002);
    background: -moz-linear-gradient(top, #6E9F05, #2C4002);
    background: -o-linear-gradient(top, #6E9F05, #2C4002);
    background: linear-gradient(top, #6E9F05, #2C4002);
}
#header {
    height: 80px;
    background: #FFF;
}

h1, h2, h3 {
    font: 20px Consolas, monaco, monospace normal;
}
h2 {
    font-size: 16px;
}

#header h1 {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #2e6a11;
    margin-left: -696px;
}
#header h1 a {
    color: #2e6a11;
}
#center {
    width: 980px;
    margin: auto;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
}
#side_menu {
    width: 200px;
    float: left;
    background: #000;
    height: 300px;
}
.button {
    display: -moz-inline-stack;
    display: inline-block;
    border: 1px solid #5a8200;
    font: 16px Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 140px; height: 64px;
    padding: 26px 15px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
    background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
    background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
    background: -o-linear-gradient(top, #8fcf00, #6b9c00);
    background: linear-gradient(top, #8fcf00, #6b9c00);
    background-color: #7db500;
    color: white;
    text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}

.button:hover {
    background-color: #7db500;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
    background: -webkit-linear-gradient(top, #6E9F05, #2C4002);
    background: -moz-linear-gradient(top, #6E9F05, #2C4002);
    background: -o-linear-gradient(top, #6E9F05, #2C4002);
    background: linear-gradient(top, #6E9F05, #2C4002);
}

.button:active {
    background: #76a312;
    color: #374f00;
}
.modules li {
    float: left;
    list-style-type: none;
    margin: 8px;
    position: relative;
}
.modules li img {
    position: absolute;
    left: 15px;
    top: 15px;
}
#content {
    font-size: 14px;
}
div.crumbs {
    height: 45px;
}
.buttons {
    position: absolute;
    right: 2px;
    top: 5px;
    z-index: 180;
}
.buttons.all {
    float: right;
    position: static;
    margin-right: 8px;
}
button.save {
    width: 85px;
}
.elrte-media-x-shockwave-flash,
.elrte-media-quicktime,
.elrte-media-x-director,
.elrte-media-x-mplayer2,
.elrte-media-x-pn-realaudio-plugin,
.elrte-media-youtube,
.elrte-media-rutube,
.elrte-media-vimeo,
.elrte-yandex-maps,
.elrte-google-maps,
.elrte-iframe,
.elrte-media {
    border:5px solid #000;
    background:#eee url(../images/media-flash.png) center center no-repeat;
}

.elrte-media-x-shockwave-flash     { background-image:url(../images/media-flash.png); }
.elrte-media-youtube               { background-image:url(../images/media-youtube.png); }
.elrte-media-vimeo                 { background-image:url(../images/media-vimeo.png); }
.elrte-media-rutube                { background-image:url(../images/media-rutube.png); }
.elrte-media-quicktime             { background-image:url(../images/media-quicktime.png); }
.elrte-media-x-director            { background-image:url(../images/media-director.png); }
.elrte-media-x-mplayer2            { background-image:url(../images/media-winmedia.png); }
.elrte-media-x-pn-realaudio-plugin { background-image:url(../images/media-realaudio.png); }

.elrte-yandex-maps                 { background-image:url(../images/yandex-maps.png); }
.elrte-google-maps                 { background-image:url(../images/google-maps.png); display: block; }

.elrte-iframe { background-image:url(../images/iframe.png); }

.items-list.table td {
    cursor: pointer;
}
#go_to_page {
    display: inline;
    width: 45px;
    text-align: center;
    margin: 0 2px;
}
