<div class="note note-warning">
    <h4 class="box-heading">Данные для модуля "{{ currentModule.title }}" не найдены.</h4>
    <p>Для того, чтобы добавить {{ currentModule.item_titles.singular_genitive}}, нажмите кнопку добавить, ну или еще какой бред.</p>
</div>