<div class="row">
    <div class="col-md-9">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="fa fa-search"></span>
            </span>
            <input type="text" class="form-control" ng-model="searchString">
        </div>
    </div>
    <div class="col-md-2">
        <label class="control-label" for="items_on_page_top">Показывать на странице: </label>
        <input class="form-control" type="text" ng-model="currentModule.items_on_page" id="items_on_page_top"/>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-success">
            Добавить {{currentModule.item_titles.singular_accusative}} <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<table class="items-list table table-bordered table-hover" ng-show="model.contentItems.length">
    <thead>
    <tr>
        <th><a href="#" ng-click="changeFilterDirection()">Название</a></th>
        <th>
            <span>Активность</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contentItem in model.contentItems | filter:{name:searchString} | paginator:model.currentPage:currentModule.items_on_page"
        ng-class="{success: contentItem.act}">
        <td><span class="fa fa-pencil"></span>{{contentItem.name}}</td>
        <td><input type="checkbox" ng-model="contentItem.act" ng-click="checkOne(contentItem.act)"/></td>
    </tr>
    </tbody>
</table>