<div class="sidebar-collapse menu-scroll">
    <ul id="side-menu" class="nav">
        <div class="clearfix"></div>
        <li ng-repeat="module in modules" ng-class="{active: isCurrentModule(module)}" ng-click="setCurrentContents(module)">
            <a href="#" title="{{module.title}}">
                <i class='fa fa-fw' ng-class="module.icon">
                    <div class='icon-bg bg-orange'></div>
                </i>
                <span class='menu-title'>{{module.title}}</span>
            </a>
        </li>
    </ul>
</div>