<div class="row container-fluid">
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="fa fa-search"></span>
            </span>
            <input type="text" class="form-control" ng-model="searchString">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6 text-right">
                <ul class="pagination mtn">
                    <li ng-class="{disabled: model.currentPage == 1}">
                        <a href="#" aria-label="Previous"
                           ng-click="setCurrentPage(model.currentPage * 1 - 1)">&laquo;</a>
                    </li>
                    <li ng-class="{active:isCurrentPage(page)}"
                        ng-repeat="page in model.contentItems | filter:{name:searchString} | paginationCount:model.currentPage:currentModule.items_on_page">
                        <a href="#" ng-click="setCurrentPage(page)">{{page}}<span class="sr-only">(current)</span></a>
                    </li>
                    <li ng-class="{disabled: model.currentPage == getMaxPage()}">
                        <a href="#" aria-label="Next" ng-click="setCurrentPage(model.currentPage * 1 + 1)">&raquo;</a>
                    </li>
                </ul>
            </div>
            <div class="form-group col-lg-6 text-left">
                <form name="pagination_go_to">
                    <label for="go_to_page">Перейти на страницу</label>
                    <input type="text" id="go_to_page" class="form-control" ng-model="model.currentPage"
                           ng-pattern="/^[0-9]{1,7}$/" name="currentPageField"/>
                    <span>из {{ getMaxPage() }}</span>
                </form>
                <div class="text-center alert alert-danger" ng-show="pagination_go_to.currentPageField.$error.pattern">
                    Введите номер страницы от 1 до {{ getMaxPage() }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center mts">
        <label class="control-label" for="items_on_page">
            <label for="items_on_page">Показывать на странице</label>
            <select id="items_on_page"
                    ng-model="currentModule.items_on_page"
                    ng-options="page for page in model.itemsOnPageInterval"
                    >
            </select>
            {{ currentModule.item_titles.plural_genitive }} из {{ model.contentItems.length }}</label>
    </div>
</div>