<div class="jplist-panel box panel-bottom"
     ng-include="'/modules/admin/assets/js/views/pagination.html'"
     ng-show="(model.contentItems | filter:{name:searchString}).length > currentModule.items_on_page"
>
</div>
<table class="items-list table table-bordered table-hover" ng-show="model.contentItems.length">
    <thead>
    <tr class="info">
        <th class="col-lg-10"><a href="#" ng-click="changeFilterDirection()">Название</a></th>
        <th class="col-lg-2">
            <span>Действия</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contentItem in model.contentItems | filter:{name:searchString} | paginator:model.currentPage:currentModule.items_on_page">
        <td>{{contentItem.name}}</td>
        <!--<input type="checkbox" ng-model="contentItem.act" ng-click="checkOne(contentItem.act)"/>-->
        <td>
            <div class="page-toolbar text-center">
                <button class="btn btn-yellow" title="Популярность"><span class="fa fa-star"></span></button>
                <button class="btn btn-grey" title="Снять активность"><span class="fa fa-eye"></span></button>
                <button class="btn btn-blue" title="Посмотреть на сайте"><span class="fa fa-globe"></span></button>
                <button class="btn btn-green" title="Редактирование"><span class="fa fa-pencil"></span></button>
                <button class="btn btn-red" title="Удалить"><span class="fa fa-trash"></span></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="jplist-panel box panel-bottom"
     ng-include="'/modules/admin/assets/js/views/pagination.html'"
     ng-show="(model.contentItems | filter:{name:searchString}).length > currentModule.items_on_page"
>
</div>