#contact-overlay {
    background-color: #000;
    cursor: wait;
}

/* Container */
#contact-container {
    font: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    width: 300px;
    height: 100%;
}

#contact-container .contact-content {
    background-color: #FFF;
    color: #666;
    height: 40px;
    /*border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    behavior: url(/js/PIE.htc);
}

#contact-container h1 {
    color: #666;
    font-size: 20px;
    line-height: 40px;
    margin: 6px 0 0;
    text-align: left;
    padding-left: 12px;
}

#contact-container .contact-loading {
    background: url(/images/loading.gif) no-repeat;
    height: 55px;
    margin: -14px 0 0 190px;
    padding: 0;
    position: absolute;
    width: 54px;
    z-index: 8000;
}

#contact-container .contact-message {
    text-align: center;
	margin-top: -20px;
}
#contact-container .contact-message {
    margin-top: 5px;
}

#contact-container .contact-error {
    background: #FFF;
    border: 2px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    color: red;
    line-height: 18px;
    margin: 0 auto;
    padding: 2px;
    width: 92%;
}

#contact-container br {
    clear: both;
}

#contact-container form {
    margin: auto;
    width: 250px;
    padding: 0;
}

#contact-container label {
    clear: left;
    display: block;
    float: left;
    font-weight: bold;
    text-align: center;
    width: 250px;
    font-size: 11px;
}

#contact-container .contact-input {
    background: #eee;
    border: 1px solid #fff;
    font-family: 'Trebuchet MS', Verdana, Arial;
    float: left;
    padding: 2px;
    margin: 2px;
    width: 240px;
}

#contact-container textarea {
    height: 114px;
}

#contact-container .contact-cc {
    cursor: default;
    font-size: 14px;
    vertical-align: top;
}

#contact-container .contact-bottom {
    background-color: #333;
    font-size: 12px;
    height: 13px;
    line-height: 12px;
    text-align: center;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-radius: 0 0 8px 8px;
}

#contact-container .contact-bottom a,
#contact-container .contact-bottom a:link,
#contact-container .contact-bottom a:active,
#contact-container .contact-bottom a:visited {
    color: #666;
    position: relative;
    top: -4px;
    text-decoration: none;
}

#contact-container .contact-bottom a:hover {
    color: #888;
}

#contact-container .contact-button {
    background: #328FDC;
    border: 0;
    color: #fff;
    cursor: pointer;
    height: 26px;
    margin: 20px 0 0 4px;
    text-align: center;
    vertical-align: middle;
    /*-webkit-border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    /*border-radius: 15px;*/
    padding: 0 30px
}

#contact-container .contact-button:hover {
    background: #FF7800;
}

#contact-container a.modal-close,
#contact-container a.modal-close:link,
#contact-container a.modal-close:active,
#contact-container a.modal-close:visited {
    color: #999;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    right: 8px;
    top: 3px;
}

#contact-container a.modal-close:hover {
    color: #ccc;
}