html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
abbr, acronym, address, big, cite, code,
del, dfn, ins, kbd, s, samp,
small, strike, sub, sup, tt, var,
center,
dl, dt, dd,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: PTSans;
    src: url('../fonts/PTS55F_W.ttf');
}

body {
    min-width: 100%;
    margin: 0 0 254px;
    padding-bottom: 60px;
    background: url('/images/header.png') repeat-x top center,
    url('/images/bg_grad.png') repeat-x left 206px;
    font-family: PTSans;
}

body:before, footer:before {
    content: "";
    width: 100%;
    height: 6px;
    background: #0093ee;
    position: absolute;
    display: block;
    left: 0;
}

body:before {
    top: 0;
}

footer:before {
    bottom: 0;
}

a:hover {
    text-decoration: none;
}

#banners ul, #catalog ul, .counter {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper {
    width: 980px;
    margin: auto;
    overflow: hidden;
}

header {
    display: block;
    position: relative;
    height: 145px;
    width: 100%;
}

header > div {
    width: 980px;
    height: 145px;
    margin: auto;
    position: relative;
}

#logo {
    position: absolute;
    top: 24px;
    left: 0;
    display: block;
    background: url('/images/logo.png') no-repeat;
    width: 188px;
    padding-top: 75px;
    text-decoration: none;
    color: #919593;
    font-size: 12px;
    line-height: 1.3em;
}

#bucket {
    position: absolute;
    left: 267px;
    top: 34px;
    width: 175px;
    font-size: 14px;
}

#bucket a {
    color: #119aef;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

#bucket div {
    margin-top: 5px;
    font-size: 12px;
    color: #afafaf;
}

header form {
    width: 210px;
    position: absolute;
    top: 27px;
    left: 500px;
}

header .registr {
    font-size: 14px;
    color: #ff7800;
    float: left;
}

header .forget_password {
    font-size: 14px;
    color: #a4a4a4;
    float: right;
}

header form input {
    height: 30px;
    position: absolute;
    top: 23px;
    border-radius: 4px;
    display: block;
    padding-left: 36px;
    border: none;
    outline: none;
}

header .login {
    left: 0;
    width: 174px;
    background: url('/images/login.png') no-repeat 11px center #D8D8D8;
}

header .password {
    left: 0;
    top: 55px;
    width: 90px;
    background: url('/images/password.png') no-repeat 11px center #D8D8D8;
}

header form input[type="submit"] {
    top: 55px;
    right: 0;
    padding: 0;
    width: 82px;
    color: #fff;
    font-size: 14px;
    border-right: 1px solid #18a9f1;
    border-left: 1px solid #18a9f1;
    background-color: #008EEC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #49BFF5), color-stop(0.03, #00A5F1), color-stop(1, #008EEC));
    background-image: -o-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -moz-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -webkit-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -ms-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: linear-gradient(to bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    cursor: pointer;
}

header .phone, header .consultant {
    position: absolute;
    left: 760px;
    padding-left: 31px;
}

header .phone {
    top: 25px;
    background: url('/images/phone.png') no-repeat left 24px;
    font-size: 14px;
    padding-left: 20px;
    color: #919593;
}

header .phone span {
    color: #000;
    font-size: 36px;
}

header .phone a {
    font-size: 12px;
    color: #f55a1d;
    margin-left: 11px;
}

header .consultant {
    top: 91px;
    background: url('/images/consultant.png') no-repeat left 10px;
    font-size: 18px;
}

header .consultant a {
    font-size: 12px;
    color: #00a942;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

nav {
    height: 43px;
    width: 100%;
    background: #2380CC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #44A2F0), color-stop(1, #2380CC));
    background-image: -o-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
    background-image: -moz-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
    background-image: -webkit-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
    background-image: -ms-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
    background-image: linear-gradient(to bottom, #44A2F0 0%, #2380CC 100%);
    font-size: 14px;
    position: relative;
}

nav ul {
    padding: 0;
    margin: auto;
    width: 980px;
    height: 43px;
    display: table;
}

nav li {
    display: table-cell;
    text-align: center;
}

nav a, nav span {
    color: #fff;
    line-height: 42px;
}

nav a#pull {
    display: none;
}

#banners {
    width: 100%;
    height: 232px;
    position: relative;
    margin-bottom: 15px;
}

#banners .banner_image {
    width: 737px;
    height: 232px;
    position: relative;
}

#banners .banner_image .banner_text {
    width: 170px;
    position: absolute;
    left: 97px;
    top: 83px;
    font-size: 14px;
    color: #fff;
    line-height: 1.3em;
}

#banners:after {
    content: "";
    width: 980px;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: -51px;
    background: url('/images/banner_shadow.png') no-repeat;
}

#banners ul {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    height: 222px;
    width: 245px;
    background: #56BEFF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #56BEFF), color-stop(1, #0093EE));
    background-image: -o-linear-gradient(bottom, #56BEFF 0%, #0093EE 100%);
    background-image: -moz-linear-gradient(bottom, #56BEFF 0%, #0093EE 100%);
    background-image: -webkit-linear-gradient(bottom, #56BEFF 0%, #0093EE 100%);
    background-image: -ms-linear-gradient(bottom, #56BEFF 0%, #0093EE 100%);
    background-image: linear-gradient(to bottom, #56BEFF 0%, #0093EE 100%);
}

#banners li {
    display: block;
    width: 100%;
    height: 52px;
    position: relative;
}

#banners li:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 205px;
    height: 3px;
    display: block;
    background: #a0d9fc;
}

#banners li:last-child:after {
    display: none;
}

#banners li > * {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    line-height: 3em;
    display: block;
    height: 52px;
    position: relative;
}

#banners li span:after {
    content: "";
    position: absolute;
    display: block;
    background: url('/images/offer_hover.png') no-repeat;
    width: 8px;
    height: 21px;
    left: 6px;
    top: 15px;
}

#scroll {
    width: 980px;
    height: 290px;
    overflow: hidden;
    margin: auto;
    clear: both;
    margin: auto;
    margin-bottom: 15px;
}

#scroll .viewport {
    float: left;
    width: 920px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

#scroll .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

#scroll .overview li {
    float: left;
    display: block;
    margin: 0 9px;
    border: 1px solid #e3e3e3;
    position: relative;
    background: #fff;
}

#scroll .overview li a {
    width: 211px;
    height: 235px;
    height: 235px;
    padding-top: 5px;
    display: block;
    background: #ff7800;
    color: #000;
}

#scroll li img {
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#scroll a.buttons {
    width: 27px;
    height: 76px;
    display: block;
    float: left;
    margin: 84px 0 0 0;
    background: url('/images/scroll_left.png') no-repeat;
}

#scroll a.next {
    float: right;
    background: url('/images/scroll_right.png') no-repeat;
}

#scroll .image {
    position: relative;
    width: 176px;
    height: 177px;
    margin: auto;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    background: #fff;
    position: relative;
}

#scroll .image:after {
    content: "";
    display: block;
    width: 176px;
    height: 11px;
    background: url('/images/scroll_item_shadow.png') no-repeat;
    position: absolute;
    left: 0;
    bottom: -11px;
}

#scroll .image img {
    display: block;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#scroll .product_name {
    margin-top: 10px;
    color: #000;
    text-align: center;
    font-size: 13px;
}

#scroll .price {
    position: absolute;
    bottom: 14px;
    left: 18px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    width: 80px;
}

.specify {
    width: 80px;
    height: 18px;
    padding-left: 10px;
    position: relative;
    background: #44a3f0;
    color: #fff;
    font-size: 13px;
    line-height: 1.6em;
    text-decoration: none;
}

.specify:after {
    content: "";
    position: absolute;
    display: block;
    border: 4px solid transparent;
    border-left: 4px solid #fff;
    top: 6px;
    right: 2px;
}

#scroll .specify {
    position: absolute;
    right: 19px;
    bottom: 9px;
}

h1, h2 {
    font-size: 18px;
}

#scroll h2 {
    padding: 15px 0 15px 41px;
}

#searchbar {
    width: 100%;
    height: 30px;
    position: relative;
    background: #fff;
    overflow: hidden;
    margin-top: 26px;
}

#searchbar input[type="text"] {
    height: 30px;
    width: 100%;
    padding: 0 130px 0 17px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #666;
    font-size: 14px;
    font-style: italic;
    color: #414141;
    background: #ededed;
    border-radius: 4px;
    box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, .03);
}

#searchbar input[type="text"]::-webkit-input-placeholder {
    color: #d5d4d4;
    line-height: 1.4em;
}

#searchbar input[type="submit"] {
    height: 30px;
    width: 90px;
    padding-left: 37px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    display: block;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    box-sizing: content-box;
    color: #fff;
    font-size: 16px;
    background: url('/images/search.png') no-repeat 102px center, #49CA94;
    background: url('/images/search.png') no-repeat 102px center, -webkit-gradient(linear, left top, left bottom, color-stop(0, #49CA94), color-stop(0.05, #00B56A), color-stop(1, #009F4A));
    background: url('/images/search.png') no-repeat 102px center, -o-linear-gradient(bottom, #49CA94 0%, #00B56A 5%, #009F4A 100%);
    background: url('/images/search.png') no-repeat 102px center, -moz-linear-gradient(bottom, #49CA94 0%, #00B56A 5%, #009F4A 100%);
    background: url('/images/search.png') no-repeat 102px center, -webkit-linear-gradient(bottom, #49CA94 0%, #00B56A 5%, #009F4A 100%);
    background: url('/images/search.png') no-repeat 102px center, -ms-linear-gradient(bottom, #49CA94 0%, #00B56A 5%, #009F4A 100%);
    background: url('/images/search.png') no-repeat 102px center, linear-gradient(to bottom, #49CA94 0%, #00B56A 5%, #009F4A 100%);
}

#catalog {
    padding-bottom: 20px;
}

#catalog h2 {
    text-align: center;
    padding: 10px 0 20px;
}

#catalog > ul {
    padding: 2px;
}

#catalog > ul > li {
    width: 127px;
    height: 145px;
    float: left;
    margin: 0 6px;
    position: relative;
}

#catalog .catalog_image {
    width: 138px;
    height: 103px;
    display: table-cell;
    vertical-align: middle;
}

#catalog .catalog_image img {
    display: table-cell;
    margin: auto;
}

#catalog a {
    font-size: 16px;
    color: #0093ee;
}

#catalog .sub_catalog {
    position: absolute;
    width: 129px;
    padding: 10px 0 0 10px;
    min-height: 145px;
    background: #fff;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
    top: 0;
    left: -6px;
    opacity: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    line-height: 1.2em;
}

#catalog > ul > li:hover .sub_catalog {
    opacity: 1;
}

#catalog .sub_catalog a {
    font-size: 13px;
}

#content {
    font-size: 14px;
    line-height: 1.3em;
    color: #000;
    padding-bottom: 30px;
    clear: both;
    padding-top: 25px;
}

#content h1 {
    padding: 20px 0 40px 42px;
}

#content .specify {
    float: right;
    margin-top: 30px;
}

footer {
    height: 254px;
    width: 100%;
    background: url('/images/header.png') repeat-x center 100px, #fefefe;
    background: url('/images/header.png') repeat-x center 100px, -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(1, #FFFFFF));
    background: url('/images/header.png') repeat-x center 100px, -o-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 30%);
    background: url('/images/header.png') repeat-x center 100px, -moz-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 30%);
    background: url('/images/header.png') repeat-x center 100px, -webkit-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 30%);
    background: url('/images/header.png') repeat-x center 100px, -ms-linear-gradient(bottom, #F3F3F3 0%, #FFFFFF 30%);
    background: url('/images/header.png') repeat-x center 100px, linear-gradient(to bottom, #F3F3F3 0%, #FFFFFF 30%);
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
}

#footer_center {
    width: 980px;
    margin: auto;
    position: relative;
    font-size: 12px;
    color: #505050;
}

#footer_menu {
    position: absolute;
    top: 39px;
    left: 36px;
    list-style: square;
    margin: 0;
}

#footer_menu li {
    color: #5d5d5d;
    float: left;
    margin-right: 25px;
    margin-left: 8px;
}

#footer_menu li:last-child {
    margin: 0;
}

#footer_menu a {
    color: #5d5d5d;
    font-size: 14px;
}

footer .info {
    position: absolute;
    left: 37px;
    top: 75px;
}

footer .phone, footer .question, footer .callback, footer .consultant {
    position: absolute;
    top: 111px;
    color: #44a3f0;
    font-size: 18px;
    line-height: 1.6em;
}

footer .phone {
    left: 60px;
}

footer .question {
    left: 512px;
}

footer .callback, footer .consultant {
    display: block;
    width: 190px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
}

footer .callback:after, footer .consultant:after {
    content: "";
    position: abolute;
    width: 190px;
    height: 14px;
    display: block;
    z-index: -1;
    left: 0;
    bottom: -13px;
    background: url('/images/button_shadow.png') no-repeat;
}

footer .callback {
    left: 264px;
    background: #ff7800;
}

footer .consultant {
    left: 698px;
    background: #00a941;
}

.copyright, .counter, .developer {
    position: absolute;
    top: 179px;
    line-height: 1.5em;
    color: #000;
}

footer a {
    color: #505050;
}

footer .copyright {
    left: 3px;
}

footer .counter {
    right: 3px;
}

footer li {
    float: left;
    margin-left: 17px;
}

footer .developer {
    text-align: right;
    right: 409px;
    color: #000;
}

footer .developer a {
    color: #ff7801;
}

.hide {
    display: none;
}

#Go_Top {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: none;
    background: #0093ee;
    width: 100%;
    height: 35px;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 15px;
    color: #fff;
    text-align: center;
}

@media (max-width: 600px) {
    #wrapper {
        width: 100%;
    }

    header {
        height: 250px;
    }

    header > div {
        width: 100%;
    }

    #logo {
        left: 10%;
    }

    #bucket {
        left: 60%;
    }

    header form {
        top: 145px;
        left: 6%;
    }

    header .phone {
        top: 160px;
        left: 54%;
    }

    .consultant, #scroll, #banners, #footer_menu, footer .question, footer .phone, footer .consultant {
        display: none;
    }

    nav {
        height: auto;
    }

    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }

    nav li {
        width: 33.3333%;
        float: left;
        position: relative;
        text-align: left;
        text-indent: 25px;
    }

    nav a, nav span {
        width: 100%;
        height: 100%;
        display: block;
    }

    #catalog ul {
        margin-left: 7%;
    }

    #catalog .sub_catalog {
        display: none;
    }

    #content {
        padding-right: 10px;
        padding-left: 10px;
    }

    #footer_center {
        width: 100%;
    }

    footer {
        height: 300px;
    }

    footer:before {
        display: none;
    }

    footer .info {
        top: 10px;
        left: 3px;
    }

    footer .callback {
        margin: auto;
        left: 0;
        right: 0;
        top: 50px;
    }

    footer .counter {
        margin: auto;
        left: 0;
        right: 0;
        top: 100px;
        display: table;
        width: 100%;
    }

    footer .counter li {
        display: table-cell;
        text-align: center;
        float: none;
    }

    footer .copyright {
        top: 150px;
    }

    footer .developer {
        right: 3px;
        top: 190px;
    }
}

@media (max-width: 480px) {
    #logo {
        left: 7%;
    }

    #bucket {
        left: 55%;
    }

    header {
        height: 320px;
    }

    header form {
        top: 145px;
        margin: auto;
        left: 0;
        right: 0;
    }

    header .phone {
        top: 260px;
        margin: auto;
        left: 0;
        right: 0;
        width: 200px;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
        font-size: 16px;
        text-indent: 40%;
        font-weight: bolder;
        background: #2380CC;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #44A2F0), color-stop(1, #2380CC));
        background-image: -o-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
        background-image: -moz-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
        background-image: -webkit-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
        background-image: -ms-linear-gradient(bottom, #44A2F0 0%, #2380CC 100%);
        background-image: linear-gradient(to bottom, #44A2F0 0%, #2380CC 100%);
    }

    nav a#pull:after {
        content: "";
        background: url('/images/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: 60%;
        top: 10px;
    }
}

@media (max-width: 420px) {
    #logo {
        margin: auto;
        left: 0;
        right: 0;
    }

    #bucket {
        margin: auto;
        left: 0;
        right: 0;
        top: 160px;
    }

    header {
        height: 430px;
    }

    header form {
        top: 260px;
        margin: auto;
        left: 0;
        right: 0;
    }

    header .phone {
        top: 360px;
        margin: auto;
        left: 0;
        right: 0;
        width: 200px;
    }

    nav li {
        width: 50%;
        text-indent: 20%;
    }

    #catalog ul {
        margin-left: 10%;
    }
}

@media (max-width: 320px) {
    #catalog ul {
        margin-left: 5%;
    }

    #catalog ul li {
    }
}

/*
************
product list
************
*/
#content ul.mozaik li a.one_click:hover {
    color: #FF7800;
}
#content ul.mozaik li a.one_click {
    text-align: center;
    display: block;
}
#content ul.mozaik li span.price sub {
    font-size: 14px;
    font-weight: normal;
}
#content ul.mozaik li span.more, form.order_section input[type='submit'], div.order_holder button {
    display: block;
    width: 160px;
    height: 30px;
    border-radius: 4px;
    background-color: #008EEC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #49BFF5), color-stop(0.03, #00A5F1), color-stop(1, #008EEC));
    background-image: -o-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -moz-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -webkit-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -ms-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: linear-gradient(to bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    cursor: pointer;
    color: #F2F2F2;
    text-align: center;
    margin: 15px auto 10px;
    line-height: 30px;
}
#content ul.mozaik li span.price {
    color: #FF7800;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    display: block;
}
#content ul.mozaik li span.product_name {
    font-size: 20px;
    color: #000;
    text-align: center;
    display: block;
}
#content ul.mozaik li:hover {
    border-color: #FF7800;
}
#content ul.mozaik li a {
    text-decoration: none;
}
#content ul.mozaik li {
    float: left;
    display: inline-block;
    width: 202px;
    height: 280px;
    border: 1px solid #0595EF;
    border-radius: 3px;
    padding: 10px 10px 20px;
    margin-top: 10px;
}
#content div.description {
    /*clear: both;*/
    padding: 20px 10px;
}


/*
************
product card
************
*/
#catalog .product_description {
    float: left;
}
#catalog div.product_card h3 {
    font-size: 18px;
    margin: 15px 12px;
    padding-top: 25px;
    clear: both;
}
#catalog div.product_card img.product_preview {
    box-shadow: 2px 2px 4px #666666;
    float: left;
    margin-left: 10px;
}

/*
*************
order section
*************
*/
form.order_section {
    width: 600px;
    margin-left: 260px;
}
form.order_section input.product_quantity_input {
    width: 30px;
    font-size: 18px;
    display: block;
    float: left;
    text-align: center;
}
form.order_section span.price {
    color: #FF7800;
    font-size: 24px;
}
form.order_section span.measurement {
    margin-left: 8px;
}
form.order_section a {
    text-decoration: none;
}
form.order_section a.product_quantity {
    display: block;
    width: 22px;
    height: 22px;
    float: left;
}
form.reg_init ul, form.reg_save ul {
    list-style-type: none;
    float: left;
}
form.reg_init ul input[type='text'], form.reg_init ul input[type='password'], form.reg_save ul input[type='text'], form.reg_save ul input[type='password'] {
    display: block;
    height: 28px;
    margin: 5px 0 0 15px;
    padding-left: 10px;
    width: 200px;
    background: #D8D8D8;
    border-radius: 3px;
}
form.reg_save ul input[type='text'], form.reg_save ul input[type='password'] {
    width: 380px;
}
form.reg_init input[type='submit'], form.reg_save input[type='submit'] {
    padding: 10px;
    clear: both;
    display: block;
    margin: auto;
    color: #fff;
    font-size: 14px;
    border-right: 1px solid #18a9f1;
    border-left: 1px solid #18a9f1;
    background-color: #008EEC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #49BFF5), color-stop(0.03, #00A5F1), color-stop(1, #008EEC));
    background-image: -o-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -moz-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -webkit-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: -ms-linear-gradient(bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    background-image: linear-gradient(to bottom, #49BFF5 0%, #00A5F1 3%, #008EEC 100%);
    cursor: pointer;
    border-radius: 5px;
}
#content #catalog_menu {
    float: left;
    width: 265px;
    list-style-type: none;
    margin-top: 90px;
    padding: 0;
}
#content #catalog_menu ul {
    list-style-type: none;
    margin-left: 40px;
    display: none;
}
#content #catalog_menu>li {
    margin-bottom: 28px;
}
#content #catalog_menu a {
    color: #0093ee;
}
#content #catalog_menu a:hover {
    color: #FF7800;
}
#content #catalog_menu img {
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 10px;
}
#content #catalog {
    margin-left: 267px;
    width: 720px;
    padding: 10px 20px 10px 0;
}
div.order_holder h2 {
    text-align: center;
    padding-top: 18px;
    color: #343434;
}
#bucket div.order_holder ul.order_products>li {
    margin: 0 0 10px -40px;
    list-style-type: none;
    padding: 5px 20px;
}
#bucket div.order_holder ul.order_products>li:hover {
    background: #eaeaea;
}
#bucket div.order_holder input.product_quantity_input {
    width: 30px;
    height: 30px;
    margin: 0 3px;
    position: relative;
    top: -5px;
    text-align: center;
    font-size: 18px;
}
#bucket div.order_holder span {
    display: block;
    margin-top: 8px;
}
#bucket div.order_holder span.price {
    font-size: 16px;
    color: #ff7800;
}
#bucket div.order_holder a {
    display: inline;
    font-size: 14px;
}
div.order_holder button {
    border: none;
    margin-top: 0;
}
div.order_holder p {
    font-size: 22px;
    text-align: right;
    padding: 0;
    margin: 0;
    color: #000;
}
div.order_holder h4 {
    color: #ff7800;
    font-size: 20px;
    text-align: right;
}

#bucket div.order_holder a.clear_basket {
    text-align: right;
    display: block;
}
div.order_holder {
    display: none;
    position: absolute;
    z-index: 20;
    width: 400px;
    min-height: 200px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 1px 2px 5px #C2C2C2;
}
a.fold_out {
    display: none;
}